.bgCustom { 
    background-color: #00489d;
}

.img-logo {
    width: 55%;
    height: auto;
}

#more {
    display: none;
}

.readButton {
    margin-bottom: 2rem;
    border-color: #00489d;
    border-radius: 0.5rem;
    color:white;
    background-color: #00489d;
    opacity: 0.8;
    font-weight: bold;
}

.readButton:hover {
    margin-bottom: 2rem;
    border-color: #00489d;
    border-radius: 0.5rem;
    color: #00489d;
    background-color: white;
}


.project {
    border-style: solid;
    border-color: #00489d;
    border-radius: 30px;
}

.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-div {
    padding: 0.3rem;
    border-radius: 0;
}